{% extends 'commonheader.html'%}
{% block content %}

<!-- Start About Us Section -->
<section id="about-us" class="about-us-section-1" style="background-image: url('/static/images/blur.jpg');">

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h3>About Us</h3>
                    <p>Through the use of digital prescription software, e-prescribing enables a doctor, physician assistant, pharmacist, or nurse practitioner to electronically send a new prescription or renewal authorization to a community or mail-order pharmacy. It describes how the healthcare professional can electronically deliver prescriptions to the pharmacy that are accurate, error-free, and easy to understand. The purpose of e-prescribing is to lower the hazards involved with writing prescriptions by hand. It is also a primary driver behind the movement toward electronic health records. E-prescribing aims to link the patient's team of healthcare providers by exchanging medical prescription data, which enables informed decision-making.</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="welcome-section text-center">
                    <img src="/static/images/about-01.jpg" class="img-responsive"  style="width: 300px;  height: 200px; display: block; margin: 0 auto;" alt="">
                    <h4>Benefits</h4>
                    <div class="border"></div>
                    <p>
                        <ol>
                            <li>Reduce prescribing and dispensing errors</li>
                            <li>Decrease the work needed to execute a prescription</li>
                            <li>Speed receipt of prescribed drugs</li>
                            <li>Avoid more adverse drug interactions and reactions</li>
                            <li>More reliably offer to substitute less expensive drug alternatives by checking the formulary of the insurance provider in the doctor's office</li>
                            <li>Improve medication compliance (taking the prescribed medications on time) by reducing lost and unfilled prescriptions and minimizing patient costs</li>
                            <li>Reduce the incidence of drug diversion (drug abuse) by alerting providers and pharmacists of duplicative prescriptions for controlled substances.</li>
                        </ol>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="welcome-section text-center">
                    <img src="/static/images/about-02.png" class="img-responsive"  style="width: 300px;  height: 200px; display: block; margin: 0 auto;" alt="">
                    <h4>Functions</h4>
                    <div class="border"></div>
                    <p>
                        <ol>
                            <li>Patient's identification</li>
                            <li>Generating a complete active medication list, possibly incorporating electronic data received from an insurance provider</li>
                            <li>Access to patient historical data</li>
                            <li>Prescribe or add new medication and select the pharmacy where the prescription will be filled.</li>
                            <li>Work with an existing medication within the practice, this can involve viewing details of a medication, remove a medication from the active medication list, change dose, etc., for a medication or renew one or more medications</li>
                            <li>Printing prescriptions</li>
                            <li>Electronically transmitting prescriptions to a transaction hub</li>
                        </ol>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="welcome-section text-center">
                    <img src="/static/images/about-03.jpg" class="img-responsive"  style="width: 300px;  height: 200px; display: block; margin: 0 auto;" alt="">
                    <h4>Model</h4>
                    <div class="border"></div>
                    <p>
                        <ol>
                            <li>Electronically transmitting prescriptions to a transaction hub</li>
                            <li>Conducting all safety checks using an integrated decision support system, known as a Drug Utilization Review. Safety checks include: automated prompts that offer information on the drug being prescribed, potential inappropriate dose or route of administration, drug-drug interactions, allergy concerns, or warnings of caution</li>
                            <li>Flagging availability of lower cost, therapeutically appropriate alternatives (if any)</li>
                            <li>Providing information on formulary or tiered formulary medications, patient eligibility, and authorization requirements received electronically from the patient's insurance provider</li>
                            <li>System integration capabilities (e.g., connection with various databases, connection with pharmacy and pharmacy benefit manager systems)</li>
                            <li>Educational capabilities (e.g., patient education, provider feedback)</li>
                        </ol>
                    </p>
                </div>
            </div>

        </div><!-- /.row -->

    </div><!-- /.container -->
</section>
<!-- End About Us Section -->

{% endblock %}
