{% extends 'adminheader.html'%}
{% block content %}
 

    <!-- Start About Us Section -->
    <section id="about-us" class="about-us-section-1" style="background-image: url('/static/images/blur1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                            <h3>Admin View Users</h3>
                            <p>
<table>
                    <thead>
                    <tr>
                        <th>User Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>EmailId</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.FirstName}}</td>
                        <td>{{row.LastName}}</td>
                        <td>{{row.EmailId}}</td>
                        <td>{{row.PhoneNumber}}</td>
                        <td>{{row.Address}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                            </p>
                        </div>
                </div>
            </div>
        </div><!-- /.container -->
    </section>
    <!-- End About Us Section -->

</body>
</html>
{% endblock %}