{% extends 'commonheader.html'%}
{% block content %}
 

    <!-- Start Team Member Section -->
    <section id="team" class="team-member-section" style="background-image: url('/static/images/blur.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-title text-center">
                            <h3>Gallery</h3>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="/static/images/Pic1.png" class="img-responsive" style="width: 200px; height: 200px; display: block; margin: 0 auto;" alt="">
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="/static/images/pic2.jpg" class="img-responsive" style="width: 200px;  height: 200px; display: block; margin: 0 auto;" alt="">
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="/static/images/pic3.png
                        " class="img-responsive" style="width: 200px;  height: 200px; display: block; margin: 0 auto;" alt="">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="/static/images/pic4.png
                        " class="img-responsive" style="width: 200px;  height: 200px; display: block; margin: 0 auto;" alt="">
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="/static/images/pic5.jpg" class="img-responsive" style="width: 200px;  height: 200px; display: block; margin: 0 auto;" alt="">
                    </div>
                </div>
            
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="/static/images/pic6.jpg" class="img-responsive" style="width: 200px;  height: 200px; display: block; margin: 0 auto;" alt="">
                    </div>
                </div>
            </div>
            

            
            </div>
        </div>      
    </section>
    <!-- End Team Member Section -->




</body>
</html>
{% endblock %}