{% extends 'commonheader.html'%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <!-- Start Home Page Slider -->
    <section id="page-top">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                <li data-target="#main-slide" data-slide-to="1"></li>
                <li data-target="#main-slide" data-slide-to="2"></li>
            </ol>
            <!--/ Indicators end-->

            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="/static/images/blur.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated3">
                                <span><strong>Prescription</strong> Analysis</span>
                            </h1>
                            <p class="animated2">
                                Scanned prescription paper with a notation stating that the clinic personnel has verified the prescription numbers in their entirety and assigned them in decreasing order according to the months of issuance.</p>
                            <!--<a href="#feature" class="page-scroll btn btn-primary animated1">Read More</a>-->
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->

                <div class="item">
                    <img class="img-responsive" src="/static/images/blur.jpg" alt="slider">

                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated1">
                    		  <span><strong>Prescription</strong> Analysis</span>
                    	    </h1>
                            <p class="animated2">Both the parent pharmacy and the telepharmacy must have computer terminals that can display scanned prescriptions.</p>
                            <!--<a href="#feature" class="page-scroll btn btn-primary animated3">Read More</a>-->
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->

                <div class="item">
                    <img class="img-responsive" src="/static/images//blur.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated2">
                                <span><strong>Prescription</strong> Analysis</span>
                            </h1>
                            <p class="animated1">The computer-based electronic development, transmission, and filling of a medical prescription—also known as electronic prescription, or e-prescribing or e-Rx—replaces paper and faxed prescriptions. </p>
                            <!--<a class="animated3 slider btn btn-primary btn-min-block" href="#">Get Now</a><a class="animated3 slider btn btn-default btn-min-block" href="#">Live Demo</a>-->
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->
            </div>
            <!-- Carousel inner end-->

            <!-- Controls -->
            <a class="left carousel-control" href="#main-slide" data-slide="prev">
                <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right carousel-control" href="#main-slide" data-slide="next">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
        <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->


<!-- Start Feature Section -->
        <section id="feature" class="feature-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-magic"></i>
                            <div class="feature-content">
                                <h4>Prescriber</h4>
                                <p>The prescriber is a user of the electronic prescription system who authenticates their identity by signing in through a verification process. Prescribers are typically clinicians or members of the healthcare staff.</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-gift"></i>
                            <div class="feature-content">
                                <h4>Transaction hub</h4>
                                <p>The common link between all parties—prescriber, pharmacy benefit manager, and pharmacy—is provided by the transaction hub. It keeps a list of pharmacies and a master patient index for easy access to the patients' medical records.</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-wordpress"></i>
                            <div class="feature-content">
                                <h4>Pharmacy</h4>
                                <p>A pharmacy will send a confirmation message as soon as it receives the prescription information from the transaction hub. Additionally, the pharmacy can inform the prescriber that the prescription order has been filled via the system.</p>
                            </div>
                        </div>
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="feature">
                            <i class="fa fa-plug"></i>
                            <div class="feature-content">
                                <h4>Imaging</h4>
                                <p>Following receipt of the prescription, an imaging center will get in touch with the patient to arrange a time for the scan. One benefit of ePrescribing radiography is that patients who are given paper scripts sometimes misplace them or put off calling and making an appointment.</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.row -->

            </div><!-- /.container -->
        </section>
        <!-- End Feature Section -->
</body>
</html>
{% endblock %}